<if condition="!empty($is_ajax)">
    <div class="border box-shadow radius padding">
      <div class="panel margin-top"> 
        <div class="panel-head text-main">
            资金存量 
        </div> 
        <div class="panel-body">
            <table class="table"> 
                <tr>
                    <td>可用现金金额:</td>
                    <td>￥272,243.91（可以用来直接提现或投标的金额）</td>
                </tr>
                <tr>
                    <td>待收总额:</td>
                    <td>￥100,000.00 	（已经借出，尚未回收的本金和利息总额，已扣除管理费）</td>
                </tr>
                <tr>
                    <td>待收总额:</td>
                    <td>￥958.00 	（包括投标冻结和提现冻结的资金总额）</td>
                </tr>
                <tr>
                    <td>账户资金总额:</td>
                    <td>￥373,201.91 	（您在`创意思维平台上现有现金资产的总额）</td>
                </tr>
                <tr> 
                    <td colspan=2 >帐户资产总额 = 可用现金金额 + 待收总额 + 冻结总额 </td>
                </tr>
                
            </table>
        </div> 
      </div>
      
      <div class="panel margin-top"> 
        <div class="panel-head text-main">
            资金损益 
        </div> 
        <div class="panel-body">
            <table class="table"> 
                <tr>
                    <td>净赚利息:</td>
                    <td>￥272,243.91（投资净赚的投资利息总和，已扣除管理费）</td>
                </tr>
                <tr>
                    <td>待收总额:</td>
                    <td>￥100,000.00 	（借款支付的借款利息总和）</td>
                </tr>
                <tr>
                    <td>待收总额:</td>
                    <td>￥958.00 	（支付的从`创意思维借款收取的管理费用总和）</td>
                </tr>
                <tr>
                    <td>账户资金总额:</td>
                    <td>￥373,201.91 	（支付的从`创意思维借款逾期罚息及催收的费用总和）</td>
                </tr>
                
                <tr>
                    <td>累计提现手续费:</td>
                    <td>￥373,201.91 	（支付的提现手续费总和）</td>
                </tr>
                <!-- 累计投标奖励 -->
                <tr>
                    <td>累计投标奖励:</td>
                    <td>￥373,201.91 	（投标获得的奖励总和）</td>
                </tr>
                <!-- 累计支付投标奖励 -->
                <tr>
                    <td>累计投标奖励:</td>
                    <td>￥373,201.91 	（借款所支付的投标奖励总和）</td>
                </tr>
                
                <!-- 累计推广奖励 -->
                <tr>
                    <td>累计推广奖励:</td>
                    <td>￥373,201.91 	（推广下线获得的奖励总和）</td>
                </tr>
                <!-- 累计线下充值奖励： -->
                <tr>
                    <td>累计线下充值奖励:</td>
                    <td>￥373,201.91 	（线下充值获得的奖励总和）</td>
                </tr> 
                <!-- 累计续投奖励 -->
                <tr>
                    <td>累计续投奖励:</td>
                    <td>￥373,201.91 	（投资回款后续投获得的奖金总和）</td>
                </tr>
                <!-- 累计充值手续费 -->                
                <tr> 
                    <td>累计充值手续费:</td>
                    <td>￥373,201.91 	（支付的充值手续费总和）</td>
                </tr>
                <tr> 
                    <td colspan=2 >帐户资产总额 = 可用现金金额 + 待收总额 + 冻结总额 </td>
                </tr>
                
            </table>
            <div class="alert text-yellow">
                <hr /> 
                <p>累计盈亏总额： 	￥-38,993.14 	（您在`创意思维平台上累计盈亏的总额） </p>
                <p>累计盈亏总额 = 净赚利息 – 净付利息 – 支付会员认证费 – 借款管理费 - 逾期及催收费用 - 提现手续费
– 充值手续费 + 投标奖励 - 支付投标奖励 + 推广奖励 + 线下充值奖励 + 续投</p>
            </div>
        </div> 
      </div>
      
      <div class="panel margin-top"> 
        <div class="panel-head text-main">
            资金流量 
        </div> 
        <div class="panel-body">
            <table class="table"> 
                <tr>
                    <td>累计投资金额:</td>
                    <td>￥272,243.91（注册至今，您账户借出资金总和）</td>
                </tr>
                <tr>
                    <td>累计借入金额:</td>
                    <td>￥100,000.00 	（注册至今，您账户借入资金总额）</td>
                </tr>
                <tr>
                    <td>累计充值金额:</td>
                    <td>￥958.00 	（注册至今，您账户累计充值总额）</td>
                </tr>
                <tr>
                    <td>累计提现金额:</td>
                    <td>￥373,201.91 	（注册至今，您账户累计提现总额）</td>
                </tr>
                
                <tr>
                    <td>累计支付管理费:</td>
                    <td>￥373,201.91 	（支付的`创意思维管理费总和）</td>
                </tr>
                
            </table>
        </div> 
      </div>
      
      <div class="panel margin-top"> 
        <div class="panel-head text-main">
            资金预期  
        </div> 
        <div class="panel-body">
            <table class="table"> 
                <tr>
                    <td>待收利息总额:</td>
                    <td>￥272,243.91（已经借出，尚未回收的利息总额，未扣除管理费）</td>
                </tr>
                <tr>
                    <td>待付利息总额:</td>
                    <td>￥100,000.00 	（已经借入，尚未偿还的利息总额）</td>
                </tr>
         </table>
        </div> 
      </div>
      
    </div>
</if>