<include file="Front@Public/_header_"  />
<link rel="stylesheet" href="__STATIC__C/Css/header.css" />
</head>
<body>
	<div class="container" id='header'>
		<div class="logo float-left padding margin-top">
			<a href="/" class='padding-left '><img src="__LOGO__" alt="" class='margin-left'/></a>
		</div>
		<div class="header-menu float-right">
			<div class="header-ul"> 
				<li><a href="">网站首页</a></li>
				<li><a href="">网站首页</a></li>
				<li><a href="">网站首页</a></li>
				<li><a href="">网站首页</a></li>
				<li><a href="">网站首页</a></li>
				<li><a href="">网站首页</a></li>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="member-info float-right">
			<div class="member-ul"> 
				<li><a href="">zyimm</a></li>
				<li><a href="">消息(8)</a></li>
				<li><a href="">退出</a></li>
				<li><a href="">入门引导</a></li>
				<li><a href="">新手指导</a></li>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
    <hr />