<div class="border box-shadow radius padding margin ">
    <div class="x2 margin-left padding-left"> 
        <i class="iconfont" style='font-size:128px;color:#31708F'>&#xe6cc;</i>
    </div>
    <div class="x8 padding-top margin-top"> 
        <blockquote class="layui-elem-quote radius">下面会进行邮箱验证操作,邮箱验证成功之后可以用邮箱直接登录.</blockquote>
        <div class="input-group x6">
            <span class="addon iconfont" style="font-size:18px">&#xe6cc;</span>
			<input class="input" id="email" size="13" placeholder="请填写邮箱!" type="text" />
        </div>
   
        <button class="button  x2 margin-left text-blue" id='count-down'>发送邮件</button>

    </div>
    
    <div class="clearfix"></div>
    <fieldset class="layui-elem-field layui-field-title padding margin-top">
        <legend>平台-提示</legend>
        <div class="layui-field-box">
            <ul class='margin-top text-dot'>
                <li>(1)收不到邮件,请查看是否进入垃圾箱中。</li>
                <li>(2)如果您在验证过程中，出现任何问题，请联系网站客服。</li>
            </ul>
        </div>
    </fieldset>
    
</div>