<div class="border box-shadow radius padding margin ">
    <div class="x2 margin-left padding-left"> 
        <i class="iconfont" style='font-size:128px;color:#31708F'>&#xe60f;</i>
    </div>
    <div class="x8 padding-top margin-top"> 
        <blockquote class="layui-elem-quote radius">下面会进行实名验证操作,验证成功之后可以绑定银行卡敏感操作.</blockquote>
        <div class="input-group x6">
            <span class="addon iconfont" style="font-size:18px">&#xe60f;</span>
			<input class="input" id="email" size="13" placeholder="请填身份证号!" type="text" />
        </div>
   
        <button class="button  x2 margin-left text-blue" id='count-down'>验证信息</button>

    </div>
    
    <div class="clearfix"></div>
    <fieldset class="layui-elem-field layui-field-title padding margin-top">
        <legend>平台-提示</legend>
        <div class="layui-field-box">
            <ul class='margin-top text-dot'>
                <li>(1)实名认证一旦认证成功，不可以修改，请慎重填写相关资料。</li>
                <li>(2)如果您在验证过程中，出现任何问题，请联系网站客服。</li>
            </ul>
        </div>
    </fieldset>
    
</div>