<div class="border box-shadow radius padding margin">
    <div class="x1 margin-left padding-left"> 
        <i class="icon-mobile" style='font-size:128px;color:#31708F'></i>
    </div>
    <div class="x8 margin-big-left"> 
        <blockquote class="layui-elem-quote radius">您在`创意思维的重要操作,都需要通过手机动态验证码!请填写您真实的手机号码,完成手机验证.</blockquote>
        <div class="input-group x6">
            <span class="addon icon-mobile" style="font-size:18px"></span>
			<input class="input" id="mobile" size="13" placeholder="请填写手机号码!" type="text" />
        </div>
        <div class="clearfix"></div>
        <div class="input-group margin-top x3" >
			<span class="addon icon-keyboard-o" style="font-size:10px"></span>
			<input class="input" name="code" type='number' id="code" type="text">
		</div>
        <button class="button margin-top margin-left text-blue" id='count-down'>获取验证码</button>
        <div class="clearfix"></div>
        <button class="button border-main margin-top">完成手机验证</button>
    </div>
    
    <div class="clearfix"></div>
    <fieldset class="layui-elem-field layui-field-title padding margin-top">
        <legend>平台-提示</legend>
        <div class="layui-field-box">
            <ul class='margin-top text-dot'>
                <li>(1)据不同地区运营商的差别，一般会在5秒-5分钟内收到验证码。</li>
                <li>(2)如果您在验证过程中，出现任何问题，请联系网站客服。</li>
            </ul>
        </div>
    </fieldset>
    
</div>