<div class="border box-shadow radius padding ">
    <blockquote class="layui-elem-quote radius">
        截止2017-04-23 23:12:59您成功邀请的会员有：
    </blockquote>
    <table class="table"> 
        <tr>
        	<th>会员名</th>
        	<th>注册时间</th>
        </tr>
        <tr> 
        <tr>
            <td>zyimm</td>
            <td>2017-04-23 23:15:48</td>
        </tr>

        
    </tr>
    </table>
    <div class="margin-large-bottom"></div>
    <blockquote class="layui-elem-quote radius">
        截止 2017-04-23 23:12:59对您有投标奖励的会员有：
    </blockquote>
    <table class="table"> 
        <tr>
        	<th>会员名</th>
        	<th>奖金贡献</th>
        </tr>
        <tr>
            <td>zyimm</td>
            <td>300</td>
        </tr>
        <tr> 
       
    </tr>
    </table>
</div>