<form class="layui-form padding" action="" >
	<div class="layui-form-item">
		<label class="layui-form-label x2">单位名称:</label>
		<div class="layui-input-block x6 ">
			<input name="title" lay-verify="title" autocomplete="off" placeholder="请输入真实姓名" class="layui-input layui-form-danger" type="text">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label x2">单位电话:</label>
		<div class="layui-input-block x6">
			<input name="username" lay-verify="required" placeholder="请输入身份证号" autocomplete="off" class="layui-input layui-form-danger" type="text">
		</div>
	</div>
    <div class="layui-form-item">
		<label class="layui-form-label x2">单位地址:</label>
		<div class="layui-input-block x6">
			<input name="age"  placeholder="单位地址" autocomplete="off" class="layui-input layui-form-danger" type="number">
		</div>
	</div>
    
    
    <div class="layui-form-item">
		<label class="layui-form-label x2">证明人:</label>
		<div class="layui-input-block x6">
			<input name="age"  placeholder="证明人"  class="layui-input layui-form-danger" type="text">
		</div>
	</div>
    <div class="layui-form-item">
		<label class="layui-form-label x2">联系电话:</label>
		<div class="layui-input-block x6">
			<input name="age"  placeholder="联系电话"  class="layui-input layui-form-danger" type="text">
		</div>
	</div>
    <div class="layui-form-item">
        <div class="x3"></div>
        <div class="layui-input-block   x4 ">
          <button class="layui-btn" lay-submit="" lay-filter="career" >立即提交</button>
          <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
	
</form>
<script>
layui.use(['form', 'layedit', 'laydate'], function(){
  var form = layui.form();
  //
  form.render();

  //自定义验证规则
  form.verify({
    title: function(value){
      if(value.length < 5){
        return '标题至少得5个字符啊';
      }
    }
    //,pass: [/(.+){6,12}$/, '密码必须6到12位']
    
  });
  //监听提交
  form.on('submit(career)', function(data){
    layer.alert(JSON.stringify(data.field), {
      title: '最终的提交信息'
    })
    return false;
  });
  
  
});
</script>