<if condition="!empty($is_ajax)">
    <div class="border box-shadow radius padding x9 margin-large-left ">
        <form action="" >
            <table class="table"> 
                <tr> 
                    <td>请输入原密码:</td>
                    <td><input type="text" class='input' /></td>
                </tr>
                <tr> 
                    <td>请输入原密码:</td>
                    <td><input type="text" class='input' /></td>
                </tr>
                <tr> 
                    <td>请再输入新密码：</td>
                    <td><input type="text" class='input' /></td>
                </tr>
                <tr><td colspan=2 align='center'><button class="button  bg-main" id="getFormVals">确认修改</button></td></tr>
            </table>
            <div class="clearfic"></div>
        </form>
        
    </div>
</if>