 <div class="padding table-responsive">
	{:crumbs($menu_id,'列表')}
    <blockquote class="layui-elem-quote margin">
        <button class="icon-search-plus button bg-main search-layer" data-url="__ACTION__">搜索</button>
    </blockquote>
    <table class="table margin"> 
        <tr> 
            <th>ID</th>
            <th>广告名称</th>
            <th>广告类型</th>
            <th>开始时间</th>
            <th>结束时间</th>
            <th>添加时间</th>
            <th>操作</th>
            
        </tr>
        <volist name="rows" id="v" empty="$empty">
        <tr> 
            
            <td>{$v.id}</td>
            <td>{$v.title}</td>
            <td>{$ad_type[$v['ad_type']]}</td>
            <td>{$v.start_time|date="Y-m-d H:i",###}</td>
            <td>{$v.end_time|date="Y-m-d H:i",###}</td>
            <td>{$v.add_time|date="Y-m-d H:i",###}</td>
            <td>
                <a href="" class='text-main'>[编辑]</a>
                <a href="" class='text-dot'>[删除]</a>
            </td>
         </tr>
        </volist>
    </table>
    <div class="layui-elem-quote admin-page"> 
        {$page}
    </div>
</div>

<div class="hidden search-layer-html"> 
    <form method="post"  action='__ACTION__' class="form-x"  >
        <table class="table padding "> 
            {$search}
        </table>
    </form>
</div>  

<script type="text/javascript"> 
    var firstDeal = function(){
    
    };
    
    var secondDeal = function(){
    
    };


</script>