<div class="border box-shadow radius padding ">
    <blockquote class="layui-elem-quote radius">发标中借款</blockquote>
    <table class="table"> 
        <tr>
        	<th>借款标号</th>
        	<th>待还本金</th>
        	<th>待还利息</th>
        	<th>待付罚息</th>
        	<th>待付催收费</th>
        	<th>待付总金额</th>
        	<th>应还日期</th>
        	<th>当前/总(期)</th>
        	<th>逾期天数</th>
        	<th>操作</th>
    
        </tr>
        <tr> 
        <td colspan =10>
            {$page}
        </td>
        
    </tr>
    </table>
</div>