<style type="text/css"> 
    .post-borrow li{ width:260px;margin-left:12px;}
    .post-borrow div.info{ height:320px;}
</style>
<div class="container">
    <div class="padding-big margin-big">
    
    
    </div>
    <div class="padding post-borrow border box-shadow radius"> 
        <h2 class='border-bottom padding'>借款项目</h2>
        <div class='margin-top'>
            <ul>
            	<li class='float-left'>
                    <p class="bg-dot text-large text-white padding-big">信用标介绍</p>
                    <div class="info"> 
                        <p>适合工薪族</p>
                        <p>信用借款标显示"信"字标记，是一种免抵押、免担保、纯信用，的小额个人信用贷款标，主要面向固定收入群体开放。</p>
                        <p>申请条件。</p>
                        <p>
                           1.18周岁以上的中国公民<br />
                           2.月入3000元以上<br />
                           3.拥有稳定收入<br />
                        </p>
                       
                    </div>
                    <p class='text-center'><a class="button bg-sub button-big" href='/front/borrow/apply/normal.html'>立即申请</a></p>
                </li>
                <li class='float-left'>
                    <p class="bg-main text-large text-white padding-big">机构担保标介绍</p>
                    <div class="info"> 
                        <p>有担保机构为其进行担保</p>
                        <p>机构担保借款标显示标记"担"，是有担保机构进行担保的借款，担保人和借款人之间协商并签订抵押担保手续，确保风险控制在合理的范围内。</p>
                        <p>申请条件。</p>
                        <p>
                           1.有担保机构为其进行担保<br />
                           2.逾期由担保机构垫付本息还款<br />
                           3.拥有稳定收入<br />
                        </p>
                       
                    </div>
                    <p class='text-center'><a class="button bg-sub button-big" href='/front/borrow/apply/vouch.html'>立即申请</a></p>
                </li>
                <li class='float-left'>
                    <p class="bg-sub text-large text-white padding-big">秒还标介绍</p>
                    <div class="info"> 
                        <p>在网站有过投资记录</p>
                        <p>秒还标显示标记"秒"，借款者发布秒还标，利息和管理费将被冻结，投标满后，系统自动审核通过，发标人瞬间送出利息和管理费，投资者则收回本金和利息</p>
                        <p>申请条件。</p>
                        <p>
                           1.在网站有过投资记录 <br />
                           2.账户金额能够支付发这次秒标的手续费以及利息<br />
                           3.拥有稳定收入<br />
                        </p>
                    </div>
                    <p class='text-center'><a class="button bg-sub button-big" href='/front/borrow/apply/second.html'>立即申请</a></p>

                </li>
                <li class='float-left'>
                    <p class="bg-yellow text-large text-white padding-big">抵押标介绍</p>
                    <div class="info"> 
                        <p>适合中小微企业</p>
                        <p>抵押借款标显示标记"抵"，是网站运营方经过线下严格核查借款人资产负债，抵押手续（不仅限）、有关政府以及商业银行推荐、优质资产和股权质押，确保风险控制在合理的范围内。</p>
                        <p>申请条件。</p>
                        <p>
                           1.有政府以及商业银行推荐、优质资产和股权<br />
                           2.一般为地区优质中小微企业<br />
                        </p>
                    </div>
                    <p class='text-center'><a class="button bg-sub button-big" href='/front/borrow/apply/mortgage.html'>立即申请</a></p>

                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
     <div class="padding-large margin-large">
    
    
    </div>
</div>