<div id="footer" class='layout'> 
	<div class="container padding"> 
		<ul class="footer-ul"> 
			<li class='first'><a href="">关于我们</a></li>
			<li><a href="">公司简介</a></li>
			<li><a href="">公司简介</a></li>
			<li><a href="">公司简介</a></li>
			<li><a href="">公司简介</a></li>
		</ul>
		<ul class="footer-ul"> 
			<li class='first'><a href="">关于我们</a></li>
			<li><a href="">公司简介</a></li>
			<li><a href="">公司简介</a></li>
			<li><a href="">公司简介</a></li>
			<li><a href="">公司简介</a></li>
		</ul>
		<ul class="footer-ul"> 
			<li class='first'><a href="">关于我们</a></li>
			<li><a href="">公司简介</a></li>
			<li><a href="">公司简介</a></li>
			<li><a href="">公司简介</a></li>
			<li><a href="">公司简介</a></li>
		</ul>
		<ul class="footer-ul"> 
			<li class='first'><a href="">关于我们</a></li>
			<li><a href="">公司简介</a></li>
			<li><a href="">公司简介</a></li>
			<li><a href="">公司简介</a></li>
			<li><a href="">公司简介</a></li>
		</ul>
		
		<ul class="contact"> 
			<p>客服电话：</p>
			<p class='tel'>400-6768-086</p>
			<p class='time'>服务时间：周一 至 周五 9:00-17:00</p>
			<p class='qq'><a href="tencent://Message/?Uin=363029300&amp;websiteName=&amp;Menu=yes" style=" color:#666">363029300</a></p>
		</ul>
		<div class="clearfix"></div>
	</div>
	<div class="container copyright padding"> 
		苏ICP备14048590号 技术支持：<a href="http://www.zyimm.com" class='text-dot' target='_blank'>www.zyimm.com</a>
	</div>
</div>

</body>
</html> 